@charset "UTF8";

*{
    font-family: Arial, Helvetica, sans-serif;

}
body {
    max-width: 781px;
    margin: auto;
}
.item {
    background-color: yellow;
    margin: 10px;
}
strong{
    text-transform: uppercase;
}
.botao {
    margin-left: 10px;
}
button {
    display: block;
}
.button {
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.096);
    border-color: rgba(0, 0, 0, 0.425);
    border-radius: 10px;
}
#add {
    font-size: 1em;
}
#documento {
    display: block;
    text-align: justify;
}
header {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 20px;
}
h1 {
    text-align: center;
    margin: 0px;
}
h4 {
    text-align: right;
}
#assinatura, .cris {
    padding: 5px;
    margin-left: 126px;
    text-align: center;
    display: block;
    background-color: bisque;
    width: 355px;
}
fieldset {
    margin: 10px;
}
.form_locatario2{
    display: none;
}
.sp_locatario2 {
    display: none;
}
/*codigo novo*/
#dado_locador > p {
    display: inline-block;
}
#dado_locador > p.radio {
    display: block;
}
#dado_locatario1, #dado_locatario2{
    display: inline-grid;
    margin-top: 0px;
    padding-top: 10px;
}
aside {
    display: inline-grid;
    
}
#endereço_locatario1, #endereço_locatario2 {
    width: 297px;
}
#dado_locatario1 > p, #dado_locatario2 > p {
    margin: 10px 0px 10px;
}
#endereço_locatario1 > p, #contato_locatario1 > p, #dado_locador > p, #endereço_locatario2 > p, #contato_locatario2 > p{
    margin: 15px 0px 15px;
}
.numero {
    width: 40px;
}

#dado_imovel > p, #dado_caucao > p, #aluguel_mensal > p {
    display: inline-grid;
    margin: 5px;
}
#inicio, #fim {
    display: inline-grid;
}
#inicio > p, #fim > p {
    margin: 10px;
}

#fim {
    height: 180px;
}

